.platos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.platos-black {
  background-color: #191716;
}

.platos-blue {
  background-color: #22202c;
}

.platos-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  width: 80%;
  margin: 40px 0;
}

.invested {
  background-color: #191716;
  flex-direction: row-reverse;
  width: 80%;
}

.platos-container img {
  height: 600px;
  width: 400px;
  border: 2px solid red;
}

.platos-container .plato-info {
  height: 600px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.platos-container .plato-info .plato-info-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.platos-container .plato-info .plato-info-header .plato-info-phrase {
  font-size: 1.8rem;
  color: #e6af2e;
}

.platos-container .plato-info .plato-info-header .plato-info-title {
  font-size: 3rem;
  color: #ffffff;
}

.platos-container .plato-info .platos-list {
  height: 430px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}

.platos-container .plato-info .platos-list .platos-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
}

.platos-container .plato-info .platos-list .platos-item .platos-item-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  color: white;
}

.platos-container
  .plato-info
  .platos-list
  .platos-item
  .platos-item-header
  .platos-item-header-title {
  font-size: 1.4rem;
  width: 50%;
  margin: 0 0 5px 0;
  font-weight: 400;
}

.platos-container
  .plato-info
  .platos-list
  .platos-item
  .platos-item-header
  .platos-item-header-desc {
  font-size: 1.1rem;
}
.platos-container .plato-info .platos-list .platos-item .platos-item-price {
  color: #e6af2e;
  font-weight: 500;
  font-size: 1.3rem;
}
