.testimonials-section {
  background-color: #22202C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
}  

.testimonials-section .testimonial-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 70%;
}

.testimonials-section .testimonial-nav button{
  background-color: #E5E5E5;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
 