.reservar-form-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.reservar-form-input-container label {
  font-size: 2rem;
  color: #e6af2e;
}

.reservar-form-input-container input {
  height: 50px;
  border-radius: 10px;
  border: 2px solid #e6af2e;
  font-size: 1.3rem;
  background-color: #22202c;
  padding: 0 10px 0 10px;
  outline: none;
  color: white;
}

.reservar-form-input-container input::placeholder {
  color: white;
}

@media screen and (min-width: 768px) {
  .reservar-form-input-container {
    align-items: flex-start;
  }
}
