.reservar-form-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.reservar-form-input-container label{
  font-size: 2rem;
  color: #E6AF2E;
}

.reservar-form-input-container input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #E6AF2E;
    font-size: 1.3rem;
    padding: 0 10px 0 10px;
    border: none;
    outline: none;
}