* {
  scroll-behavior: smooth;
}
.developed-by {
  background-color: #191716;
  display: grid;
  place-items: center;
  color: white;
  font-size: 1.8rem;
  padding: 30px;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.parragraph {
  font-family: "Courier New", Courier, monospace;
}

.link {
  font-family: "Roboto Variable", sans-serif;
  letter-spacing: 1px;
}

.phrase {
  font-family: "Pacifico", cursive;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .developed-by {
    padding: 15px;
  }
}
