.reservar-container {
  display: grid;
  place-items: center;
  height: 75vh;
  max-width: 100vw;
  background-color: #191716;
}

.reservar-container .reservar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width: 100%;
}

.reservar-container .reservar-content .reseravr-content-image {
  display: none;
}

@media screen and (min-width: 768px) {
  .reservar-container {
    height: 100vh;
  }
  .reservar-container .reservar-content .reservar-content-image {
    display: block;
    width: 500px;
    height: 650px;
    background-image: url("../../assets//media/content/reserve.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .reservar-container .reservar-content {
    justify-content: space-between;
    width: 80%;
  }
}
